.area {
 margin: 0;

 padding: 0;

 display: flex;

 justify-content: center;

 align-items: center;

 min-height: 100vh;

 background-color: #009432;

 color: #fff;

 font-family: consolas;

 font-size: 4rem;
}
